include ../mixins/sub-menu.pug
header.header 
    .container 
        .row.align-items-center 
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.jpg",alt="logo")
                    
            .col-9 
                .inner-menu
                    ul 
                        li 
                            a(href="/") trang chủ
                        li(class="sub-menu")  
                            -const pathProduct = "/products";
                            a(href="/products") sản phẩm
                                +sub-menu(layoutProductsCategory,pathProduct)

